.contact-summary {
  background-color: #8EF5CC;
  padding: 20px;
  width: 70%;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 15%
}

.cp-intro {
  background-color: #8EF5CC;
  padding: 10px;
  font-family: 'Oooh Baby', cursive;
  font-size: 64px;
  color: rgb(75, 70, 70)
}

.cp-summary {
  padding: 5px;
  margin-top: 20px;
  background-color: #8EF5CC;
  font-family: 'Quicksand', sans-serif;
}
