#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  border: solid red 2px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-content {
  position: absolute;
  background-color:white;
  align-self: center;
  top: 150px;
  height: 600px;
  width: 1200px;
  overflow: scroll;
  overflow-x: hidden;
}
